## Local Docker Compose example

# Postgres
POSTGRES_USER=communityassist
POSTGRES_PASSWORD=communityassist
POSTGRES_DB=communityassist

# Auth0 for API protected endpoints
AUTH0_AUDIENCE=
AUTH0_ISSUER=

# Auth0 for React (CRA build-time env)
REACT_APP_AUTH0_DOMAIN=
REACT_APP_AUTH0_CLIENT_ID=
REACT_APP_AUTH0_AUDIENCE=
