:root {
  --color-primary: #0066ff;
  --color-primary-hover: #0056b3;
  --color-secondary: #6c757d;
  --color-white: #ffffff;
  --color-gray: #f9f9f9;
  --color-dark: #333;
  --color-border: #ddd;
  --color-in-progress: #003D2C;
  --color-open: #641835;
  --color-secondary: #6c757d;
}

.request-details {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.request-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-details-title {
  font-size: 2rem;
  color: var(--color-dark);
}

.request-details-status-tag {
  background-color: #eee;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 0.8em;
}

.request-details-status-tag.open {
  background-color: var(--color-open);
  color: var(--color-white);
}

.request-details-status-tag.in_progress {
  background-color: var(--color-in-progress);
  color: var(--color-white);
}

.request-details-status-tag.completed {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.request-details-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.request-details-user-info,
.request-details-time-info {
  margin: 0;
  font-size: 0.9em;
  color: #777;
}

.request-details-description {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--color-dark);
}

.request-details-btn-primary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.request-details-btn-primary:disabled {
  background-color: var(--color-secondary);
}

.request-details-btn-primary:hover:not(:disabled) {
  background-color: var(--color-primary-hover);
}

.divider-small {
  border-top: 1px solid #ddd;
  margin: 8px 0;
  width: 30%
}
